
.wall{
  top: 5vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  border: 10px solid #fd9b68;
  border-style: outset;
  height: 120px;
  width: 120px;
  text-align: center;
  border-radius: 50%;
  background-color: #120b20;
}

#number div{
  position: absolute;
  height:12vh;
  width:175px;
  left:-27px;
  top:52px;
  text-align: center;
}

#number span{
  height:80px;
  width:80px;
  display: block;
  font-size: 1em;
  color: #ffffff;
}

.pointer{
  position: absolute;
  bottom:57px;
  left:60px;
  transform-origin: 50% 90%;
  -webkit-transform-origin: 50% 98%;
}

#hour{
  width: 0;
  height: 0;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 40px solid #ca416b;
  -webkit-filter: blur(1.5px) brightness(150%);
}

#minute{
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 54.3px solid #cc5c71;
  border-image: linear-gradient(rgba(36,25,134,1),rgba(124,95,224,1), rgba(250,238,255,1));
  -webkit-filter: blur(1.5px);
}

#second{
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 50px solid #e5cff5;
  -webkit-filter: blur(1.5px);
}
